
<h2>Hello World</h2>
<p>
  <%= form_tag '/welcome' do %>
    <%= submit_tag %>
  <% end  %>
  The time is now: <%= Time.now %>
  <br />
  <span>request.base_url: <%= request.base_url %></span>
  <br />
  <span>request.origin: <%= request.origin %></span>
  <br />
  <pre>
  <%= JSON.pretty_generate(request.headers.to_h).to_s %>
  </pre>
</p>
